{% load i18n %}
<form class="ajax-update-form" method="post">
  <div class="modal-header">
    <h5 class="modal-title">{{ object }} - {% trans 'Delete' %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    <p>{% trans 'Are you sure to delete' %} <b>{{ object }}</b>?</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
  </div>
</form>