{% load i18n %}
<form class="ajax-update-form" method="post">
  <div class="modal-header">
    <h5 class="modal-title">{{ object }} - {% trans 'Update' %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">{% trans 'Update' %}</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Close' %}</button>
  </div>
</form>